{% extends 'activities.html' %}

{% block title %}Verse page{% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-fluid"  style ="background-color: #8eaf9d">
        <h1 class="text-center" style="color:#FFFFFF; font-family: 'Oswald'">Activities</h1>
    </div>


    <div class="row">
    <div class="col-lg">
        <h2>Activity Verse</h2>
        <p>
            "John 3:16"
        </p>
        <p>
             "For God so loved the world that He gave His only begotten Son, that whoever believes in Him should not perish but have everlasting life."
        </p>
    </div>
    </div>
    <p><button type="button" class="btn btn-outline-secondary btn-second" onclick="document.location='/home'">Go Back</button></p>

{% endblock %}