{% extends 'friends.html' %}

{% block title %}Friends{% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-fluid"  style ="background-color: #8eaf9d">
        <h1 class="text-center" style="color:#FFFFFF; font-family: 'Oswald'">Friends</h1>
    </div>


    <div class="row">
    <div class="col-lg-3">
        <h2>Add Friends</h2>

    </div>
    </div>
    <form id="form">
        <input type="search" id="query" name="q" placeholder="Search...">
        <button>Search</button>
    </form>


{% endblock %}