<!DOCTYPE html>
<html lang="en">
<style>
.button1 {background-color: #4CAF50;}
.button2 {background-color: #008cba;}


</style>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sessions Example{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>


<div class="container">


    {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <strong>Info:</strong> {{ message }}
        </div>
    {% endfor %}

    {% block content %}{% endblock %}


</div>

</body>
</html>