{% extends 'base.html' %}

{% block title %}Friends{% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-fluid"  style ="background-color: #8eaf9d">
        <h1 class="text-center" style="color:#FFFFFF; font-family: 'Oswald'">Friends</h1>
    </div>


    <button style="background-color:#E0AC9D; border-color:#5C6D70; color:#ffffff" class="btn btn-secondary" onclick="document.location='/add_friends'">Add Friend</button>
    <h1>My Friends List</h1>
    <table class="table table-striped table-hover table-sm">

        <thead>
        <tr style="background-color:#E88873">
            <th>Name</th>
            <th>Username</th>


        </tr>
        </thead>
        <tbody>
        {% for lst in friends %}
            <tr style="background-color: #E0AC9D ">
                <td>{{ lst.name }}</td>
                <td>{{ lst.username }}</td>

            </tr>
        {%  endfor %}

        </tbody>
    </table>
    <p><button type="button" class="btn btn-outline-secondary btn-second" onclick="document.location='/home'">Go Back</button></p>

{% endblock %}