{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-fluid"  style ="background-color: #8eaf9d">
        <h1 class="text-center" style="color:#FFFFFF; font-family: 'Oswald'">Welcome to Bible Memorizer</h1>
        <p class="text-center" style="font-family: 'Oswald'">Team PIKA</p>
    </div>



    {% if 'email' in session %}
        <p>Logged in as {{ session.email }}; <button type="button" class="btn btn-outline-secondary" onclick="document.location='/logout'">Log out</button></p>
    {% else %}
        <p>New User? <button type="button" class="btn btn-outline-secondary btn-default" onclick="document.location='/register'">Register here</button></p>
        <p>Already a member? <button type="button" class="btn btn-outline-secondary btn-default" onclick="document.location='/login'">Log in</button></p>
    {% endif %}


{% endblock %}