{% extends 'base.html' %}

{% block title %}Log in{% endblock %}


{% block content %}

    <div class="jumbotron jumbotron-fluid"  style ="background-color: #8eaf9d">
        <h1 class="text-center" style="color:#FFFFFF; font-family: 'Oswald'">Log In</h1>
    </div>


    {% if form.errors %}

        <div class="alert alert-danger">
        <strong>Problem/s:</strong>

        <ul>
        {% for field in form.errors %}

                {% for problem in form.errors[field] %}
                     <li>{{ problem }}</li>
                {% endfor %}

        {% endfor %}
        </ul>

        </div>
    {% endif %}


    <form method="POST">

    {{ form.csrf_token }}

    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class_='form-control') }}
    </div>

     <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class_='form-control') }}
    </div>

    {{ form.submit(class_="btn btn-secondary") }}

    </form>

{% endblock %}