{% extends 'base.html' %}

{% block title %}Module Selection{% endblock %}

{% block content %}

    <h1>Popular Modules:</h1>

    <div class="container marketing">

    <div class="row">
    <div class="col-lg-4">
        <h2>Module 1</h2>
        <p>
            "This is the first verse. yay!"
        <p>
        <p>
            "This is the first verse. yay!"
        </p>
        <p>
            "This is the first verse. yay!"
        </p>
        <p>
            <button class="btn btn-secondary" onclick="document.location='verse_base.html'">Choose me!</button>
        </p>
    </div>
    <div class="col-lg-4">
        <h2>Module 2</h2>
        <p>
            "This is the first verse. yay!"
        <p>
        <p>
            "This is the first verse. yay!"
        </p>
        <p>
            "This is the first verse. yay!"
        </p>
        <p>
            <button class="btn btn-secondary" onclick="document.location='verse_base.html'">Choose me!</button>
        </p>
    </div>
    <div class="col-lg-4">
        <h2>Module 3</h2>
        <p>
            "This is the first verse. yay!"
        <p>
        <p>
            "This is the first verse. yay!"
        </p>
        <p>
            "This is the first verse. yay!"
        </p>
        <p>
            <button class="btn btn-secondary" onclick="document.location='verse_base.html'">Choose me!</button>
        </p>
    </div>
    <div class="col-lg-4">
        <h2>Module 3</h2>
        <p>
            "This is the first verse. yay!"
        <p>
        <p>
            "This is the first verse. yay!"
        </p>
        <p>
            "This is the first verse. yay!"
        </p>
        <p>
            <button class="btn btn-secondary" onclick="document.location='verse_base.html'">Choose me!</button>
        </p>
    </div>
    </div>
    </div>

{% endblock %}