{% extends 'module_selection.html' %}

{% block title %}Module page{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid"  style ="background-color: #8eaf9d">
        <h1 class="text-center" style="color:#FFFFFF; font-family: 'Oswald'">Modules</h1>
    </div>


    <div class="row">
    <div class="col-lg-3">
        <h2>Verses</h2>
        <p>
            "John 3:16"
        </p>
        <p>
            "For God so loved the world that He gave His only begotten Son, that whoever believes in Him should not perish but have everlasting life."
        </p>
        <p>
            "John 3:16"
        </p>
        <p>
            "For God so loved the world that He gave His only begotten Son, that whoever believes in Him should not perish but have everlasting life."
        </p>
        <p>
            "John 3:16"
        </p>
        <p>postgres
            "For God so loved the world that He gave His only begotten Son, that whoever believes in Him should not perish but have everlasting life."
        </p>
    </div>
    </div>

{% endblock %}
