{% extends 'base.html' %}

{% block title %}Module Selection{% endblock %}

{% block content %}
<style>
.btn-default
{
  background-color: #4c4c53;
  color:#FFF;
  border-color: #2F3E48;
}

</style>

    <div class="jumbotron jumbotron-fluid"  style ="background-color: #8eaf9d">
        <h1 class="text-center" style="color:#FFFFFF; font-family: 'Oswald'">Modules</h1>
    </div>

    <div class="album py-5 bg-light">
    <h1>Current Module:</h1>
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#A37774"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Module</text></svg>
            <div class="card-body">
              <p class="card-text">A little summary.</p>
              <div class="d-flex justify-content-between align-items-left">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="document.location='/module_base'">Continue</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary btn-default" onclick="document.location='/module_base'">Start over</button>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
      </div>
      </div>



    <div class="album py-5 bg-light">
    <h1>Popular Modules:</h1>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#E0AC9D"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Module</text></svg>
            <div class="card-body">
              <p class="card-text">A little summary.</p>
              <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="document.location='/module_base'">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary btn btn-default" onclick="document.location='/module_base'">Save for Later</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#E88873"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Module</text></svg>
            <div class="card-body">
              <p class="card-text">A little summary.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="document.location='/module_base'">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary btn btn-default" onclick="document.location='/module_base'">Save for Later</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#5C6D70"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Module</text></svg>
            <div class="card-body">
              <p class="card-text">A little summary.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="document.location='/module_base'">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary btn btn-default" onclick="document.location='/module_base'">Save for Later</button>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
      </div>
    </div>

    <p><button type="button" class="btn btn-outline-secondary btn-second" onclick="document.location='/home'">Go Back</button></p>

{% endblock %}