{% extends 'module_selection.html' %}

{% block title %}Module page{% endblock %}

    <div class="row">
    <div class="col-lg-3">
        <h2>Verses</h2>
        <p>
            "John 3:16"
        </p>
        <p>
            "For God so loved the world that He gave His only begotten Son, that whoever believes in Him should not perish but have everlasting life."
        </p>
        <p>
            "John 3:16"
        </p>
        <p>
            "For God so loved the world that He gave His only begotten Son, that whoever believes in Him should not perish but have everlasting life."
        </p>
        <p>
            "John 3:16"
        </p>
        <p>
            "For God so loved the world that He gave His only begotten Son, that whoever believes in Him should not perish but have everlasting life."
        </p>
    </div>
    </div>