{% extends 'base.html' %}

{% block title %}Profile Page{% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-fluid"  style ="background-color: #8eaf9d">
        <h1 class="text-center" style="color:#FFFFFF; font-family: 'Oswald'">Profile</h1>
    </div>


    {% if 'firstName' in session %}
        <!-- add a profile picture when there is styling -->
    <p><b>Profile Information</b></p>
        <br>
        <p><b>Name: </b>{{ session.firstName }} {{ session.lastName }}</p>
        <p><b>Email: </b>{{ session.email }}</p>
        <p><button type="button" class="btn btn-outline-secondary btn-second" onclick="document.location='/update'">Update Info</button></p>
        <br><br><br>
        <p><button type="button" class="btn btn-outline-secondary btn-second" onclick="document.location='/home'">Go Back</button></p>
    {% else %}
        <p>Error loading session info. Please contact the app developers. <a href="/logout">Log out</a>.</p>
    {% endif %}

{% endblock %}