{% extends 'module_selection.html' %}

{% block title %}Module: Proverbs{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid"  style ="background-color: #8eaf9d">
        <h1 class="text-center" style="color:#FFFFFF; font-family: 'Oswald'">Module: Proverbs</h1>
    </div>


    <div class="row">
    <div>
        <h2>Verses</h2>
        <p>
            Proverbs 3:5
        </p>
        <p>
            Trust in the LORD with all your heart and lean not on your own understanding.
        </p>
        <p>
            Proverbs 3:6
        </p>
        <p>
            In all your ways acknowledge him, and he will make your paths straight.
        </p>
        <p>
            Proverbs 3:7
        </p>
        <p>
            Do not be wise in your own eyes; fear the Lord and shun evil.
        </p>
    </div>
    </div>

{% endblock %}
