{% extends 'module_selection.html' %}

{% block title %}Module: Psalms{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid"  style ="background-color: #8eaf9d">
        <h1 class="text-center" style="color:#FFFFFF; font-family: 'Oswald'">Module: Psalms</h1>
    </div>
    <div class="row">
    <div class="col-lg-3">
        <h2>Verses</h2>
        <p>
            "Psalm 23:1"
        </p>
        <p>
            "The Lord is my shepherd, I lack nothing."
        </p>
        <p>
            "Psalm 23:2"
        </p>
        <p>
            "He makes me lie down in green pastures, he leads me beside quiet waters,"
        </p>
        <p>
            "Psalm 23:3"
        </p>
        <p>
            "he refreshes my soul. He guides me along the right paths for his name’s sake."
        </p>
    </div>
    </div>

{% endblock %}
