{% extends 'base.html' %}

{% block title %}Verse Selection{% endblock %}

{% block content %}

    <h1>Popular Verses:</h1>

    <div class="container marketing">

    <div class="row">
    <div class="col-lg-3">
        <h2>Verse 1</h2>
        <p>
            "This is the first verse. yay!"
        </p>
        <p>
            <button class="btn btn-secondary" onclick="document.location='verse_base.html'">Choose me!</button>
        </p>
    </div>
    <div class="col-lg-3">
        <h2>Verse 2</h2>
        <p>
            "This is the second verse. yay!"
        </p>
        <p>
            <button class="btn btn-secondary" onclick="document.location='verse_base.html'">Choose me!</button>
        </p>
    </div>
    <div class="col-lg-3">
        <h2>Verse 3</h2>
        <p>
            "This is the third verse. yay!"
        </p>
        <p>
            <button class="btn btn-secondary" onclick="document.location='verse_base.html'">Choose me!</button>
        </p>
    </div>
    </div>
    </div>

{% endblock %}